In [73]:
import json
import pandas as pd

In [76]:
data = json.load(open("./datasets/mebamu_july_2022.json"))
data = pd.DataFrame(data)

print(data.shape)
# print(data.value_counts(sort=False))
print(data.nunique())
data

(69, 5)
opendate     19
opentime     69
closedate    19
closetime    69
diff         68
dtype: int64

      opendate  opentime   closedate closetime     diff
0   2022-07-01  10:45:16  2022-07-01  14:00:53  3:15:37
1   2022-07-01  18:11:59  2022-07-01  22:25:53  4:13:54
2   2022-07-01  23:29:50  2022-07-02  00:22:32  0:52:42
3   2022-07-02  01:38:36  2022-07-02  06:38:18  4:59:42
4   2022-07-02  10:45:51  2022-07-02  14:48:45  4:02:54
..         ...       ...         ...       ...      ...
64  2022-07-17  19:28:25  2022-07-17  22:05:13  2:36:48
65  2022-07-18  03:21:37  2022-07-18  08:11:36  4:49:59
66  2022-07-18  10:28:37  2022-07-18  11:26:36  0:57:59
67  2022-07-18  15:27:51  2022-07-18  20:07:09  4:39:18
68  2022-07-19  00:46:35  2022-07-19  05:52:13  5:05:38

[69 rows x 5 columns]

In [82]:
months = "july august september october november".split()
# months = ["july"]
total = 0
for month in months:
    data = json.load(open(f"./datasets/mebamu_{month}_2022.json"))
    data = pd.DataFrame(data)
    total += data.shape[0]
    print(data.shape[0], end=", ")

total

113, 113, 114, 116, 44,

500